<div class="row">
	<div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Memory Usage</h3>
              </div>
              <div class="panel-body wrapper">
                  <Live-Line-Chart Live-Data="liveMemoryData" class="inherit"/>
              </div>
          </div>
        </div>
	<div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">CPU Usage</h3>
              </div>
              <div class="panel-body wrapper">
                  <Live-Line-Chart Live-Data="liveCpuData" class="inherit"/>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
	<div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Network Throughput In</h3>
              </div>
              <div class="panel-body wrapper">
                  <Live-Line-Chart Live-Data="liveNetThroughInData" class="inherit"/>
              </div>
          </div>
        </div>
	<div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Network Throughput Out</h3>
              </div>
              <div class="panel-body wrapper">
                  <Live-Line-Chart Live-Data="liveNetThroughOutData" class="inherit"/>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
	<div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Network Packet In</h3>
              </div>
              <div class="panel-body wrapper">
                  <Live-Line-Chart Live-Data="liveNetInPacketData" class="inherit"/>
              </div>
          </div>
        </div>
	<div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Network Packet Out</h3>
              </div>
              <div class="panel-body wrapper">
                  <Live-Line-Chart Live-Data="liveNetOutPacketData" class="inherit"/>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
	<div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Networkk In-Out traffic data from
                    <input type="date" id="fromDate" name="inputFrom" ng-model="fromDate"
       placeholder="yyyy-MM-dd" required />
       to
                      <input type="date" id="toDate" name="inputTo" ng-model="toDate"
          placeholder="yyyy-MM-dd" required />
          <button ng-click="getDateWiseData()">Get Data!</button>
</h3>
              </div>
              <div class="panel-body wrapper-sec" ng-init="getDateWiseData()">
                  <Stacked-Bar-Chart Chart-Data="NetInOutData" class="inherit"/>
              </div>
          </div>
        </div>
      </div>
